# shellcheck disable=SC2155 shell=bash
dotenv_if_exists .env

export DATABASE_URL=$CASIMIR_DATABASE_URL
export DBMIGRATE_URL=$CASIMIR_DATABASE_URL
export DBMIGRATE_PATH="$(expand_path crates/backend/migrations)"
